[submodule "themes/startbootstrap-clean-blog"]
	path = themes/startbootstrap-clean-blog
	url = https://github.com/humboldtux/startbootstrap-clean-blog.git
[submodule "public"]
	path = public
	url = https://github.com/jbricha/jbricha.github.io.git
